
.title-text{
    font:normal bold 50px/72px var(--roboto);
    color: grey;
}

/* button  */
.button{
    padding:.8rem 2.2rem;
    font: normal 500 16px/20px var(--roboto);
    border:3px solid transparent;
    border-radius: 4px;
}

.primary-button{
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6s ease;
    box-shadow: var(--shadow-color);
    position: relative;
}

.primary-button:hover{
    background:whitesmoke;  
    background-clip: padding-box;
    color:black;
    


}


.primary-button::after {
   
    position: absolute;
    top: -2px;
    left: -2px;
    bottom:-2px;
    right: -2px;
    background: var(--gradient-color);
    content:'';
    z-index: -1;
    border-radius: 4px;
   

}

.secondary-button{
    background: white;
    background-clip: padding-box;
    transition: background .6s ease;
    position: relative;
}

.secondary-button:hover{
    background: var(--gradient-color);
    color: whitesmoke;
    box-shadow: var(--shadow-color);
}
.secondary-button::after{
    position: absolute;
    top: -2px;
    left: -2px;
    bottom:-2px;
    right: -2px;
    background: var(--gradient-color);
    content:'';
    z-index: -1;
    border-radius: 4px;
    
}

/* -------------------$---------------------- */





html,body{
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: url('/images/banner/') no-repeat;
    /* background-size: cover ; */
}

/* css variables */
:root{
    --primary-color:#4458dc;
    --primary-color2:#854fee;
    --title-color:#141313;
    --text-color:#777777;
    --border-color:#201f1f17;
    --gradient-color:linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
    --shadow-color:0px 10px 30px rgba(57,56,61,0.205);

    /* font family variables */
    --roboto:'Roboto';
}




/* ----- fonts -----  */
@font-face{
    font-family:"Roboto";
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
.mylogo{
    padding: 0 2rem 0 5rem;
    font-family:cursive;
    height: fit-content;
    color: rgb(255, 111, 55);
    
}



.navbar{
    padding:1rem 20rem;
    
}
.nav-link{
    font:normal 500 15px/2px var(--roboto);
    color: var(--title-color);
    text-transform: uppercase;
    padding: 1.7rem;
    

}
#major {
    
   background: var(--gradient-color);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
}
.nav-link:hover{
    background: var(--gradient-color);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
}
/* navigation ends */

/* banner area */
.site-banner{
    background: url(#) no-repeat;
 
    
}
.back{
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: -1;
}

.hd{
    font-family: "Roboto";
    color: rgb(66, 66, 66);
}
h3{
    padding-top: 35%;
    font-weight: 500;
}

h3::after{
    content:"";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);

}
h1{
    font-size: 5rem;
}

h4{
    font-size: 1.5rem;
}
.banner-image>{
    padding: 7rem 0;
    width: 90rem;
}
 

/* end banner area  */
