.title-text{
    font:normal bold 50px/72px var(--roboto);
}

/* buttong  */
.button{
    padding: .8rem 2.2rem;
    font: normal 500 16px/20px var(--roboto);
    border:3px solid transparent;
    border-radius: 4px;
}

.primary-button{
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background.6s ease;
    box-shadow: var(--shadow-color);
}

.primary-button:hover{
    background: whitesmoke;
    background-clip: padding-box;
    color:black;

}


.primary-button::after {
   
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: var(--gradient-color);
    
    z-index:-1;
   

}